<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About YAACBISE</title>
    <link rel="stylesheet" href="/static/css/welcome.css">
</head>
<body>
    <div class="site-title-link">
        <div class="site-title">YAACBISE</div>
        <div class="subtitle">Yet Another Amazing Cloud-Based Image Search Engine</div>
    </div>
    <div class="centered-content">
        <h2>A propos des développeurs</h2>
        <p>Développé par le Groupe 7:</p>
        <p>SAUVAGE Samuel et VION François</p>
        <p>MA1 Sciences informatique</p>
    </div>
    <div class="centered-content">
        <h2>Fonctionnalités de l'Application</h2>
        <ul class="features-list">
            <li>Système d'authentification</li>
            <li>Recherche d'images similaires à partir d'une image source</li>
            <li>Choix parmi trois modèles</li>
            <li>Affichage de la courbe de rappel</li>
        </ul>
    </div>
    <div class="button-container">
        <a class="button" href="{% url 'login' %}">Se connecter</a>
    </div>
</body>
</html>
